/* responsive-for small device */

@media screen and (max-width: 600px) {
    nav ul 
    {
        /* flex-direction: column;
        margin: 20px auto;
        gap: 20px; */
        display: none;
        
    }

    .menu{
        display: block ;
    }

    .banner-section{
        padding-top: 30px;
        border-radius: 20px;
    }

    .banner-section h2{
        font-size: 2rem;
       
    }
    
    .banner-section p{
        margin: 0px 70px;
        font-size: .8rem;
        
              
    }

    .banner-text {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 10px 90px;
        width: auto;
        height: auto;
       
    }

    .input-btn, .search-btn{
        padding: 10px;
    }
  header{
    margin: 50px 30px;
    
  }


  /* header-section end */

  /* tour-section start */

  .tour-container{
    flex-direction: column;
    margin: 0 40px;
  }

  .tour-section{
    /* margin: 20px 20px; */
  }

  .image-area img{
   max-width: 600px;
   width: 100%;
    
}


/* letter-section start */

.letter-container{
    flex-direction: column;
    gap: 30px;
}

.image-area-section img{
    display: block;
    padding-left: 30px;
    position: relative;
    height: auto;
     
}

.discount{
   display: none;
}

.letter-container{
    padding-left: 20px;
    
    margin: 30px auto;

}

.image-area-section img{
    width: 90%;
    object-fit: contain;
}


/* footer-section  */


footer{
    margin-top: 50px;
}


 /* why choose us section */


.card-container{
    flex-direction: column;
}

.single-card-1{
    width: 335px;
    height: 289px;
    margin: 20px auto;
}
.single-card-2{
    width: 335px;
    height: 289px;
    margin: 20px auto;
}
.single-card-3{
    width: 335px;
    height: 289px;
    margin: 20px auto;
}

.choose-us-text > h2{
    font-size: 1.8rem;
}

.choose-us-text > p{
    width: 100%;
    font-size: .8rem;
}

/* special-section */

.special-section p {
    font-size: 1.5rem;
    width: 100%;
}


/* gallery-section */

.text-area-section p{
    padding: 40px ;
}

.grid-container{
    display: inline;
    max-width: 335px;
    margin: 50px auto ;

}

.grid-container img{
    max-width: 415px;
    object-fit: contain;
    margin: 10px auto;
}

}